*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  background-color: #212121;

  height: 100%;
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove any padding that might cause issues */
}